body {
    background-color: #f1f1f1;
}

.wrapper, .main{
    display: flex;
}

.wrapper {
    margin: 0 auto;
    background-color: white;
    max-width: 100%;
    height: auto;
}

.main {
    flex-flow: column;
    width: 85%;
}

.menu {
    width: 10%;
    background-color: rgb(172, 222, 238);
    padding: 10px 20px 0px;
    font-size: 20px;
}

.header {
    text-align: center;
    text-decoration: solid;
    text-decoration: underline;
    text-shadow: 2px 4px 5px #413e3e;
    font-size: 30px;
    height: 150px;
    background-color: bisque;
    width: 103.7%;
}

.info-img {
    display: block;
    width: 150px;
    position: relative;
    margin-left: 75%;
    margin-top: -160px;
}

.content {
    background-color: rgb(221, 241, 247);
    height: 800px;
    width: 103.7%;
}

.main-text {
    line-height: 2.0;
    font-size: 24px;
    text-align: left;
}

.table {
    position: relative;
    margin-top: -250px;
    border: solid 2px black;
    -webkit-box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.22);
    -moz-box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.22);
    box-shadow: 11px 10px 5px -4px rgba(0,0,0,0.22);
}

.table thead{
    background-color: black;
    color: white;
}

.titulo {
    background-color: burlywood;
    color: black;
}

.table tbody tr:nth-child(even){
    background-color: aqua;

}

.table tbody tr:hover{
    background-color: blueviolet;
}


.addrs-text {
    line-height: 2.0;
    font-size: 20px;
}

.footer {
    background-color: white;
    height: 150px;
    width: 103.7%;
    
}